@import "../node_modules/bulma/bulma.sass";

html {
  background: #363942;
}

a {
  color: #ed782c;
  &:hover, &:active {
    color: #ed782c;
    text-decoration: underline;
  }
}

strong {
  color: white;
}

.main {
  background: #2d4842;
  color: white;
}

.container {
  max-width: 900px !important;
}

.section.navbar {
  background: #222222;
  .container {
    display: block;
    overflow: hidden;
    .left {
      float: left;
      img.logo {
        height: 60px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .right {
      float: right;
      ul {
        margin-top: 15px;
        li {
          float: left;
          a {
            display: block;
            width: 40px;
            height: 40px;
            &.twitter {
              margin-right: 10px;
              img {
                margin: 2px;
                width: 36px;
              }
            }
            &.opensea {
              margin-left: 10px;
              img {
                margin: 3px;
                width: 34px;
              }
            }
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}

.section.account {
  background: #363942;
  color: white;
  .container {
    display: block;
    overflow: hidden;
    .left {
      float: left;
      .connected-hello {
        .version-normal {
          @media (max-width: 450px) {
            display: none;
          }
        }
        .version-mini {
          @media (min-width: 451px) {
            display: none;
          }
        }
        .my-account-link {
          font-weight: bold;
        }
      }
    }
    .right {
      float: right;
    }
  }
}

.section.foot {
  background: #363942;
  color: white;
  .container {
    display: block;
    overflow: hidden;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
  }
}

.section.account-page {
  .account.has-tokens {
    .token-item {
      width: 100%;
      overflow: hidden;
      border: 2px solid black;
      border-radius: 5px;
      margin-bottom: 10px;
      .token-image {
        float: left;
        display: block;
        margin: 5px;
        img {
          display: block;
          height: 80px;
        }
      }
      .token-name {
        float: left;
        font-size: 20px;
        padding: 10px;
      }
      .token-level {
        float: left;
        font-size: 20px;
        padding: 10px;
      }
      .token-view {
        float: right;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
}

section.token-page {
  .token{
    overflow: hidden;
    .token-image {
      width: 35%;
      float: left;
    }
    .token-data {
      width: 65%;
      float: right;
      padding-left: 15px;
      .token-hunt {
        .token-hunt-alert {
          background-color: #5b2929;
        }
        .prey-list {
          .prey {
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            .prey-image {
              float: left;
              display: block;
              img {
                display: block;
                height: 60px;
              }
            }
            .prey-name {
              float: left;
              padding: 5px;
            }
            .prey-level {
              float: left;
              padding: 5px;
            }
            .prey-hunt {
              float: right;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
