@import "../node_modules/bulma/bulma.sass";

$color-main: #5f6ca3;
$color-secondary: #5fa0a2;
$color-background: #222222;
$color-button-background: #d0571f;
$color-button-background-light: #e16a33;
$color-button-border: #cf9275;
$color-button-border-light: #e3ad94;
$color-button-text: #fff;

html {
  background: $color-background;
}

body {
  font-family: 'Mali', sans-serif;
  font-size: 18px;
}

a {
  color: #ed782c;

  &:hover, &:active {
    color: #ed782c;
    text-decoration: underline;
  }
}

h1, h2 {
  font-weight: 500;
  font-size: 30px;
}

strong {
  font-weight: 600;
}

button {
  font-family: 'Mali', sans-serif;
  font-size: 18px;
  border-radius: 10px;
  padding: 6px 13px;
  background-color: $color-button-background;
  border: 2px solid $color-button-border;
  color: $color-button-text;

  &:hover, &:active {
    cursor: pointer;
    background-color: $color-button-background-light;
    border: 2px solid $color-button-border-light;
  }
}

.main {
  section {
    padding: 0;

    .container {
      padding: 30px;
      color: #000;
      background: #fff;
    }

    &:last-child {
      .container {
        border-radius: 0 0 5px 5px;
      }
    }
  }
}

.component-mint {
  text-align: center;
  height: 400px;

  .mint {
    background: $color-main;
    color: #fff;
    border-radius: 80px;
    max-width: 400px;
    position: relative;
    top: 250px;
    left: 50%;
    margin-left: -200px;
    padding: 20px 0 8px;
    box-shadow: 3px 3px 3px #000;

    .mint-now {
      margin-top: 20px;
      display: inline-block;
      width: 160px;
      overflow: hidden;

      .field {
        width: 75px;
        float: left;

        .label {
          display: none;
        }

        margin-right: 10px;
      }

      button {
        float: right;
      }
    }
  }

  .mint-connect {
    position: relative;
    top: 280px;
    font-size: 28px;
    padding: 16px 24px;
  }
}

.container {
  max-width: 900px !important;
}

.section.navbar {
  background: $color-background;

  .container {
    display: block;
    overflow: hidden;

    .left {
      float: left;

      img.logo {
        height: 60px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .right {
      float: right;

      ul {
        margin-top: 15px;

        li {
          float: left;

          a {
            display: block;
            width: 40px;
            height: 40px;

            &.twitter {
              margin-right: 25px;

              img {
                margin: 2px;
                width: 36px;
              }
            }

            &.opensea {
              margin-left: 25px;

              img {
                margin: 3px;
                width: 34px;
              }
            }

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}

.section.account {
  .container {
    background: $color-main;
    color: white;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    padding: 10px 16px;

    .left {
      float: left;

      .connected-hello {
        line-height: 40px;

        .version-normal {
          @media (max-width: 450px) {
            display: none;
          }
        }

        .version-mini {
          @media (min-width: 451px) {
            display: none;
          }
        }

        .my-account-link {
          font-weight: bold;
        }
      }
    }

    .right {
      float: right;
    }
  }
}

.section.foot {
  background: $color-background;
  color: white;

  .container {
    display: block;
    overflow: hidden;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}

.section.account-page {
  .account.has-tokens {
    .token-item {
      width: 100%;
      overflow: hidden;
      border: 2px solid black;
      border-radius: 5px;
      margin-bottom: 10px;

      .token-image {
        float: left;
        display: block;
        margin: 5px;

        img {
          display: block;
          height: 80px;
        }
      }

      .token-name {
        float: left;
        font-size: 20px;
        padding: 10px;
      }

      .token-level {
        float: left;
        font-size: 20px;
        padding: 10px;
      }

      .token-view {
        float: right;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
}

section.token-page {
  .token {
    overflow: hidden;

    .token-image {
      width: 35%;
      float: left;
    }

    .token-data {
      width: 65%;
      float: right;
      padding-left: 15px;

      .token-hunt {
        .token-hunt-alert {
          background-color: #5b2929;
        }

        .prey-list {
          .prey {
            border: 1px solid black;
            padding: 10px;
            margin-bottom: 10px;
            overflow: hidden;

            .prey-image {
              float: left;
              display: block;

              img {
                display: block;
                height: 60px;
              }
            }

            .prey-name {
              float: left;
              padding: 5px;
            }

            .prey-level {
              float: left;
              padding: 5px;
            }

            .prey-hunt {
              float: right;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
