# editors
.idea/
*.iml

# truffle
build/
node_modules/
yarn-error.log
/.env

# dist
dist/

# npm
package-lock.json

# generator
/generator/ipfs/
!/generator/ipfs/.gitkeep
/generator/source/
!/generator/source/.gitkeep
